.container {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.bomb {
  width: 6rem;
  height: 6rem;
}

.number {
  color: red;
  position: absolute;
  top: 2.6rem;
  left: 1.8rem;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
}