.letterInset {
  background-color: #fff;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s ease-in-out;
  font-family: 'Space Mono', monospace;
  border: 3px black solid;
  padding: 1.2rem;
}

.letterInset:hover {}