.letterButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
  border-radius: 2px;
  transition: all 0.2s;
}

.letterButton:hover {
  background-color: #44be48;
}